@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
	background: #FFECD1;
	margin-top: 110px;
	color: #001524;
	font-family: "Nunito", sans-serif;
}

h1 {
	font-weight: 700;
	font-family: "Dancing Script", sans-serif;
	font-size: 4em;
}

.header {
	background: #78290F;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100px;
	padding: 3px;
	padding-left: 10px;
}

.header .logo {
	image-rendering: pixelated;
	height: 100px;
	cursor: pointer;
	filter: invert(1);
}

.header .logo:hover {
	filter: invert(0.25);
}

.header .logo:active {
	filter: invert(0);
}