@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
	background: #FFECD1;
	margin-top: 110px;
	color: #001524;
	font-family: "Nunito", sans-serif;
}

h1 {
	font-weight: 700;
	font-family: "Dancing Script", sans-serif;
	font-size: 4em;
}

.header {
	background: #78290F;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 15px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	min-height: 100px;
	padding: 3px;
	padding-left: 10px;
/*	padding-bottom: 20px;*/
}

.header .logo {
	image-rendering: pixelated;
	height: 100px;
	cursor: pointer;
	filter: invert(1);
}

.header .logo:hover {
	filter: invert(0.75);
}

.header .logo:active {
	filter: invert(1);
}

.header .category {
	font-size: 20px;
	position: relative;
	padding: 5px;
	background: #FFECD1;
	border: 2px solid #FFECD1;
	min-width: 125px;
	text-align: center;
}

.header .category a {
	color: #78290F;;
}

.header .category .subpages {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 0;
	overflow: hidden;
	position: absolute;
	background: #78290F;
	padding-bottom: 5px;
	display: none;
	left: -2px;
	border: 2px solid #FFECD1;
}

.header .category .subpages a {
	width: 100%;
	color: #FF7D00;
}

.header .category:hover .subpages {
	max-height: 100000px;
	display: block;
}

.food {
	width: 400px;
}